<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Transfer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form th:object="${withdrawal}" method="post" >

                <input type="hidden" th:field="*{id}"/>
                <div class="panel-group">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4 th:text="'Current account: ' + ${withdrawal.getAccount().getName()}">231</h4>
                            <h4>Withdraw money from your bank account</h4>
                            <i class="glyphicon glyphicon-bitcoin" style="margin-left: 70%"></i>
                            <h4 th:text="'Balance: ' + ${withdrawal.getAccount().getBalance()}" style="margin-left: 70%"></h4>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label>SAmount</label>
                                    <input type="text" class="form-control" th:field="*{amount}">
                                    <td th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}">Recipient Error</td>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label>Withdraw to:</label>
                                    <select class="form-control" th:field="*{withdrawalType}">
                                        <option th:each="type: ${T(tech.talci.talcibankapp.domain.WithdrawalType).values()}"
                                                th:value="${type.name()}"
                                                th:text="${type.name()}">val</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Withdraw Money</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>