<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <title>TALCI Cabinet</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" href="fragments/cabinet.css">
</head>
<body>

<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-3 sidenav">
            <img th:src="@{/images/logoLarge.png}" alt="logo">
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="#section1">Home</a></li>
                <li><a th:href="@{'/client/' + ${client.id} + '/account/new'}">Open New Account</a></li>
                <li><a href="#section3">Link 2</a></li>
                <li><a href="#section3">Lin 3</a></li>
            </ul><br>
        </div>

        <div class="col-sm-9">
            <h4><small>Talci Bank App</small></h4>
            <hr>
            <h2 th:text="'Welcome back ' + ${client.firstName} + '!'">Welcome</h2>
            <h5><span class="label label-success" th:if="${client.active}">Active</span> <span class="label label-danger" th:if="${not client.active}">Not Active</span></h5><br>
            <div class="panel-group">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">Client Information</h4>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3">
                                <h5>First Name</h5>
                            </div>
                            <div class="col-md-9">
                                <h5 th:text="${client.firstName}">da</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <h5>Last Name</h5>
                            </div>
                            <div class="col-md-9">
                                <h5 th:text="${client.lastName}">da</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <h5>Email</h5>
                            </div>
                            <div class="col-md-9">
                                <h5 th:text="${client.email}">da</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <h5>Phone Number</h5>
                            </div>
                            <div class="col-md-9">
                                <h5 th:text="${client.phoneNumber}">da</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <h5>Address</h5>
                            </div>
                            <div class="col-md-9">
                                <h5 th:text="${client.address}">da</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br><br>

            <h4><small>Accounts</small></h4>
            <hr>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <a th:href="@{'/cabinet/' + ${client.id} + '/transactions' }">
                        <button class="btn btn-info">View Transactions</button>
                    </a>
                    <h4 class="panel-title" style="margin-left: 150px; margin-top: -25px; margin-bottom: 10px">Your Accounts</h4>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class="thead-inverse">
                            <tr>
                                <th>ID</th>
                                <th>Account Number</th>
                                <th>Name</th>
                                <th>Balance</th>
                                <th>Type</th>
                                <th>Manage Account</th>
                            </tr>
                            </thead>
                            <tr th:each="account : ${client.getAccounts()}">
                                <td th:text="${account.id}">2</td>
                                <td th:text="${account.number}">231</td>
                                <td th:text="${account.name}">SD</td>
                                <td th:text="${account.balance}">SD</td>
                                <td th:text="${account.getAccountType().toString()}">SD</td>
                                <td><a href="#"><button class="btn btn-success">Manage</button></a></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <br>

            <h4><small>Cards</small></h4>
            <hr>

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <a th:href="@{'/client/' + ${client.id} + '/cards/new'}">
                        <button class="btn btn-info">Issue a new card</button>
                    </a>
                    <h4 class="panel-title" style="margin-left: 150px; margin-top: -25px; margin-bottom: 10px">Your Cards</h4>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class="thead-inverse">
                            <tr>
                                <th>ID</th>
                                <th>Card Number</th>
                                <th>Holders Name</th>
                                <th>Issued</th>
                                <th>Expires</th>
                                <th>Type</th>
                                <th>Currency</th>
                                <th>Balance</th>
                                <th>Deactivate</th>
                            </tr>
                            </thead>
                            <tr th:each="card : ${client.getCards()}">
                                <td th:text="${card.id}">2</td>
                                <td th:text="${card.number}">231</td>
                                <td th:text="${card.holdersName}">SD</td>
                                <td th:text="${card.issued}">SD</td>
                                <td th:text="${card.expires}">SD</td>
                                <td th:text="${card.getCardType().toString()}">SD</td>
                                <td th:text="${card.currency}">SD</td>
                                <td th:text="${card.balance}">SD</td>
                                <td><a href="#"><button class="btn btn-danger">Deactivate</button></a></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <br><br>
        </div>
    </div>
</div>

<footer class="container-fluid">
    <p>Footer Text</p>
</footer>

</body>
</html>
